[submodule "PSEmpire"]
	path = PSEmpire
	url = https://github.com/EmpireProject/Empire
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "CimSweep"]
	path = CimSweep
	url = https://github.com/PowerShellMafia/CimSweep
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "rekall"]
	path = rekall
	url = https://github.com/google/rekall.git
[submodule "ms-cpprest-sdk"]
	path = ms-cpprest-sdk
	url = https://github.com/Microsoft/cpprestsdk.git
